header,
.name {
  background-color: #524eb7;
  color: #ffffff;
}

.nav a {
  color: #ffffff;
  text-decoration: none;
}

header a:hover {
  color: black;
  text-decoration: underline;
}

.name li {
  list-style: none;
  color: #ffffff;
  text-decoration: none;
}

header a,
footer a {
  color: #ffffff;
}

img {
  width: 15vw;
  border-radius: 50%;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", Roboto, serif;
  font-style: normal;
  font-weight: 700;
}

h1 {
  font-size: 72px;
  line-height: 150%;
}

h2 {
  color: black;
  font-size: 64px;
  line-height: 150%;
}

h3 {
  color: black;
  font-size: 30px;
  line-height: 150%;
}

h3::first-letter {
  color: #524eb7;
}

.service p {
  color: black;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 200%;
}

.service li {
  color: black;
}

span {
  font-size: 60%;
}

.service {
  background-image: url("./assets/image/background/lines.svg");
  color: black;
}

.service li:not(.complex) {
  list-style: none;
}

footer {
  background-color: #2b2b37;
  color: #ffffff;
}

footer li {
  list-style: none;
}

li,
a:hover {
  color: #524eb7;
  text-decoration: underline;
}

.icon {
  width: 300px;
  height: 300px;
  fill: #4eb757;
  stroke: #ffffff;
}

.icon:hover {
  stroke: #08055f;
}
